.btn {
    padding: .5rem 2rem;
    cursor: pointer;
}

.btn-update {
    display: block;
    margin-inline: auto;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
}

.btn-update:hover {
    opacity: 0.9;
}