input, textarea {
    border: 2px solid #ccc;
    outline: none;
    padding: .5rem .7rem;
    transition: 0.5s;
    font: inherit;
}

input:focus {
    border: 2px solid #000;
}

input[type="file"] {
    border: none;
}

input[type="file"]::file-selector-button {
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .5rem .8rem;
    margin-right: 0.5rem;
    background-color: transparent;
}

.login-form {
    width: 50%;
    margin-inline: auto;
}

.form-group {
    margin-bottom: .7rem;
}

.form-control {
    width: 100%;
}

.btn-login {
    margin-top: 1.5rem;
    display: block;
    width: 100%;
    background-color: #000;
    color: #fff;
    border: 2px solid black;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    opacity: 0.9;
}

.btn-login:focus {
    outline-style: solid;
    outline-color: #ccc;
}

@media screen and (max-width: 575px) {
    .login-form {
        width: 100%;
    }
}