.single-banner {
    background-color: var(--black);
    background-image: url('../../../public/assets/bg-hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding-block: 22rem;
    text-align: center;
}

.single-banner__title {
    color: var(--white);
}